body {
    background-color: #FFFBE4;
}
form, .mess {
    padding: 10px;
    border: 1px solid #D5D5D5;
    width: 200px;
    display: inline-block;
    margin: 5px 20px;
}
form label {
    width: 200px;
    display: block;
}
form input[type="text"], form input[type="submit"] {
    width: 200px;
}
h2 {
    margin-left: 20px;
}
.mess{
    vertical-align: top;
}
.mess.add{
    height: 118px;
}
.mess.rest{
    height: 72px;
}
.mess p {
    font-size: 13px;
    margin: 0px;
    height: 100%;
    display: table;
}
.mess p span {
    vertical-align: middle;
    display: table-cell;
}